@charset "utf-8";

/* CSS Document */
/* BODY */
body {
  font-family: Arial, "sans-serif";
  background-color: white;
  font-size: 15px;
  margin: 15px;
}

/* Scrollbar */
html::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

html::-webkit-scrollbar-thumb {
  background: white;
}

/* Séléction texte */
*::selection {
  color: white;
  background-color: black;
}

/* Liens */
a:link {
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: none;
}

/* Input */
input {
  background: none;
  border: 1px solid black;
  background-color: none;
  border-radius: 0px;
  width: 75px;
}

input:focus {
  border: 1px solid black;
  background-color: none;
  border-radius: 0px;
}

/* Texte */
p, a, input {
  color: black;
  font-weight: 500;
  font-size: 0.90em;
  line-height: 18px;
  text-align: left;
}

/* Texte */
a {
  color: black;
  font-weight: 500;
  font-size: 1em;
  line-height: 18px;
  text-align: left;
}

bold {
  font-weight: 700;
}

mark {
  padding: 5px;
  border: 2px solid;
  border-color: black;
  color: black;
  background-color: transparent;
}

mark:hover {
  padding: 5px;
  border: 2px solid;
  border-color: white;
  color: white;
  background-color: transparent;
}

.desc {
  display: block;
  float: right;
  text-align: right;
  font-weight: 700;
  font-size: 0.90em;
  line-height: 18px;
  margin-bottom: 25px;
}

.date {
  display: block;
  float: right;
  text-align: right;
  font-weight: 700;
  width: 100%;
  font-size: 0.9em;
  line-height: 18px;
  margin-bottom: 25px;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Texte fixe + console */
#menu {
  position: fixed;
  top: 0%;
  left: 15px;
  width: 25%;
}

#console {
  font-size: 0.9em;
  line-height: 18px;
  width: 25%;
  position: fixed;
  bottom: 15px;
}

/* Bloc projet */
#Projets {
  position: relative;
  left: 35%;
  width: 65%;
}

/* Texte */
#time {}

.image {
  float: right;
  max-width: 100%;
  margin-bottom: 15px;
  margin-left: 15px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.image:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.video {
  float: right;
  max-width: 100%;
  margin-bottom: 15px;
  margin-left: 15px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.video:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

#pageerror {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  height: 344px;
  transform: translate(-50%, -50%);
}

.error {
  float: center;
  text-align: center;
  font-weight: 700;
  font-size: 0.9em;
  color: white;
  line-height: 18px;
  margin-bottom: 25px;
}

/* Style the tab content */
.tabcontent {
  font-size: 0.9em;
  float: left;
  border: none;
  border-left: none;
  height: 100%;
}

.nom {
  position: absolute;
  left: 10%;
  width: 10%;
  font-size: 1em;
  float: left;
  background-color: none;
}

.details {
  position: absolute;
  left: 20%;
  width: 10%;
}

.ingredient {
  position: absolute;
  left: 30%;
  width: 20%;
}

.recette {
  position: absolute;
  left: 50%;
  width: 40%;
  height: 90%;
  margin: 0;
  padding: 0;
}

/* Style the tab */
.tab {
  width: 10%;
  font-size: 1em;
  float: left;
  background-color: none;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  border: none;
  outline: none;
  text-align: left;
  padding: 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: black;
}

/* Create an active/current "tab button" class */
.tab button.active {
  color: white;
}

/* Responsive Tablette */
@media screen and (min-width:601px) and (max-width:1000px) {

  /* Texte fixe + console */
  #menu {
    position: relative;
    width: 80%;
    padding-right: 15px;
  }

  #console {
    margin: 0;
    width: 80%;
  }

  /* Bloc projet */
  #Projets {
    text-align: right;
    float: right;
    width: 100%;
    left: 0%;
    margin-top: 50px;
  }

  .image {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .video {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .nom {
    position: relative;
    float: none;
    left: 0%;
    width: auto;
    font-size: 1em;
    margin-bottom: 30px;
  }

  .details {
    position: relative;
    float: none;
    left: 0%;
    width: auto;
    margin-bottom: 30px;
  }

  .ingredient {
    position: relative;
    float: none;
    left: 0%;
    width: auto;
    margin-bottom: 30px;
  }

  .recette {
    position: relative;
    float: none;
    left: 0%;
    width: auto;
    margin-bottom: 100px;
  }

  /* Style the tab */
  .tab {
    position: relative;
    float: none;
    left: 0%;
    width: 20%;
    margin-bottom: 30px;
  }
}

/* Responsive Smartphone */
@media screen and (max-width:600px) {

  /* Texte fixe + console */
  #menu {
    position: relative;
    width: 90%;
  }

  #console {
    width: 100%;
    left: 0%;
    margin: 15px;
  }

  /* Bloc projet */
  #Projets {
    text-align: right;
    width: 100%;
    left: 0%;
    margin-top: 50px;
  }

  .image {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .video {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .nom {
    position: relative;
    float: none;
    left: 2%;
    width: auto;
    font-size: 1em;
    margin-bottom: 30px;
  }

  .details {
    position: relative;
    float: none;
    left: 2%;
    width: auto;
    margin-bottom: 30px;
  }

  .ingredient {
    position: relative;
    float: none;
    left: 2%;
    width: auto;
    margin-bottom: 30px;
  }

  .recette {
    position: relative;
    float: none;
    left: 2%;
    width: auto;
    margin-bottom: 100px;
  }

  .tab {
    position: relative;
    float: none;
    left: 2%;
    width: auto;
    margin-bottom: 30px;
  }
}
