/* Dark mode */
body {
  --color-background: #E5E5E5;
  --color-txt: #2F2F2F;
  --color-accent: #d8d8d8;
}

body.dark-theme {
  --color-background: black;
  --color-txt: #D9D9D9;
  --color-accent: #131313;
}

/* Website */
html {
  font-family: "mfbc-regular", arial, arial, sans-serif;
  font-size: 20px;
}

body {
  width: 100vw;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-txt);
}

*::selection {
  color: var(--color-background);
  background-color: var(--color-txt);
  box-sizing: border-box;
}

a {
  font-family: "mfbc-bold", arial, sans-serif;
  font-weight: 700;
  color: var(--color-txt);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

button {
  font-family: "mfbc-bold", arial, sans-serif;
  font-weight: 700;
  color: var(--color-txt);
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0;
}

button:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

.theme-label.light-theme.underline-light {
  background: var(--color-txt);
  border-radius: 1.5rem;
  width: 1.5rem;
  color: var(--color-background);
}

.theme-label.dark-theme.underline-dark {
  background: var(--color-txt);
  border-radius: 1.5rem;
  width: 1.5rem;
  color: var(--color-background);
}

.theme-label {
  cursor: pointer;
}

.buttons {
  cursor: pointer;
}

.toggleDiv {
  display: none;
}

.underline {
  text-decoration: underline;
}

h1 {
  font-family: "mfbc-bold", arial, sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 2rem;
}

h2 {
  font-family: "mfbc-regular", arial, sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

h3 {
  font-family: "mfbc-regular", arial, sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 1rem;
  line-height: 1.4rem;
}

p {
  font-family: "mfbc-regular", arial, sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 1rem;
  line-height: 1.4rem;
}

header {
  position: fixed;
  top: 0;
  transition: top 0.1s ease-in-out;
  width: 100%;
  z-index: 1000;
}

.headfull {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1rem;
}

.header {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-up {
  top: -62px;
}

.fullscreenbloc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  overflow: hidden;
}

.fullscreen {
  width: 100vw;
  max-width: 550px;
  height: 100vh;
  max-height: 550px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fontbloc {
  background: var(--color-accent);
  padding: 9.5rem 3rem 10rem 3rem;
}

.fontblocHome {
  background: var(--color-accent);
  margin: 8rem 0rem 8rem 0rem;
  padding: 8rem 3rem 7.5rem 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fontPanelHome {
  width: 60%;
}

.footer {
  padding: 0.66666rem 1rem 0.8rem 1rem;
  z-index: 100;
}

.footerindex {
  padding: 0.66666rem 1rem 0.8rem 1rem;
  z-index: 100;
  position: absolute;
  bottom: 0;
}

.pageerror {
  font-size: 1rem;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* Dropdown button */
.dropbtn {
  font-size: 1rem;
  color: var(--color-txt);
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.dropbtn:hover {
  color: var(--color-accent);
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 100;
}

.dropdown-content {
  line-height: 1.2rem;
  width: fit-content;
  display: none;
  position: absolute;
  z-index: 1;
  white-space: nowrap
}

.drop-project {
  background: var(--color-background);
  width: fit-content;
  padding: 0.18rem 0.5rem 0.2rem 0rem;
}

.dropdown-content a {
  color: var(--color-txt);
  display: block;
}

.dropdown-content a:hover {
  color: var(--color-accent);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.75rem;
}

.item-menu {
  padding: 0;
}

.item-footer {
  line-height: 0.8rem;
  padding-right: 1rem;
}

.langue, .buttons {}

.theme-label {
  padding: 0;
}

.activelanguage {
  text-decoration: underline;
}

.intro {
  padding: 4rem 1rem 2rem 1rem;
  width: 50%;
  font-size: 1rem;
}

.introgif {
  left: 0;
  top: 0;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  width: 100px;
  height: 100px;
  transform: translateX(-50%) translateY(-50%);
}

.introgif.visible {
  visibility: visible;
}

.anim {
  padding: 0.66666rem 1rem 0rem 1rem;
  height: 86vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.animcont {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-project {
  padding: 0.8rem 0rem 0.6rem 0rem;
  border-bottom: solid;
}

.project-div {
  padding: 0.66666rem 6rem 6rem 6rem;
  text-align: center;
}

.project {
  width: 100%;
  background: none;
  cursor: pointer;
  border: 0;
  text-align: left;
  transition: 0.3s;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 2rem;
}

.active, .project:hover {
  color: var(--color-txt);
  text-decoration: underline;
}

.panel {
  text-align: left;
  z-index: 50;
  width: 80%;
  padding: 0.75rem 0rem 0rem 2rem;
  font-size: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.light-theme .miniatureneg {
  max-height: 45px;
  filter: invert(1);
  mix-blend-mode: multiply;
}

.dark-theme .miniatureneg {
  max-height: 45px;
}

.description {
  padding: 0.66666rem 1rem 0.5rem 1rem;
  width: 75%;
  font-size: 1rem;
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
}

.imagefull, video {
  padding: 100px 50px;
  width: 60%;
  height: auto;
}

.video {
  padding: 150px 50px;
}

.imageintro, .imageintroneg {
  padding: 120px 100px 130px 100px;
  width: 60%;
  height: auto;
}

.light-theme .imageneg, .light-theme .homeneg {
  padding: 100px 50px;
  width: 60%;
  height: auto;
  filter: invert(1);
  mix-blend-mode: multiply;
}

.light-theme .imageintroneg {
  filter: invert(1);
  mix-blend-mode: multiply;
}

.dark-theme .imageneg, .dark-theme .homeneg {
  padding: 100px 50px;
  width: 60%;
  height: auto;
}

.imagehalf {
  padding: 150px 50px;
  width: 40%;
  height: auto;
}

@media screen and (min-width:1025px) and (max-width:1200px) {
  .menu {
    column-gap: 0.5rem;
  }

  .item-menu {
    flex-wrap: wrap;
    padding: 0;
  }

  .intro {
    width: 75%;
  }

  .description {
    width: 85%;
  }

  .miniature {
    max-height: 40px;
  }

  .container {
    width: 85%;
    padding: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1rem;
  }

  .imagehalf {
    padding: 50px 0px;
    width: 42%;
  }

  .imagefull {
    padding: 50px 0px;
    width: 75%;
  }

  .imageintro, .imageintroneg {
    padding: 50px 50px;
    width: 75%;
  }

  .light-theme .imageneg, .light-theme .homeneg, {
  padding: 50px 0px;
  width: 75%;
  height: auto;
  filter: invert(1);
  mix-blend-mode: multiply;
}
}

@media screen and (min-width:601px) and (max-width:1024px) {
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .footerindex {
    padding: 0.66666rem 1rem 0.8rem 1rem;
    z-index: 100;
    position: relative;
  }

  .footerflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .animcont {
    width: 100%;
  }

  .menu {
    column-gap: 0.5rem;
  }

  .item-menu {
    flex-wrap: wrap;
    padding: 0;
  }

  .intro {
    width: 95%;
  }

  .description {
    width: 85%;
  }

  .miniature {
    max-height: 40px;
  }

  .fontPanelHome {
    width: 85%;
  }

  .fullscreen {
    width: 100vw;
    max-width: 400px;
    height: 100vh;
    max-height: 400px;
  }

  .container {
    width: 90%;
    padding: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1rem;
  }

  .imagehalf {
    padding: 50px 0px;
    width: 44%;
  }

  .imagefull {
    padding: 50px 0px;
    width: 85%;
  }

  .imageintro, .imageintroneg {
    padding: 50px 50px;
    width: 85%;
  }
}

@media screen and (max-width:600px) {
  html {
    font-size: 18px;
  }

  h1 {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  h2 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.2rem;
  }

  p{
    line-height: 1.2rem;
  }

  .headfull {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.7rem 1rem;
    row-gap: 0.2rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .nav-up {
    top: -70px;
  }

  .fullscreen {
    width: 70vw;
    max-width: 550px;
    height: 45vh;
    max-height: 550px;
  }

  .fontPanelHome {
    width: 90%;
  }

  .footerindex {
    padding: 0.66666rem 1rem 0.8rem 1rem;
    z-index: 100;
    position: relative;
  }

  .footerflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fontblocHome {
    background: var(--color-accent);
    margin: 4rem 0rem 4rem 0rem;
    padding: 4rem 1rem 4rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .project-div {
    padding: 0.66666rem 1rem 4rem 1rem;
  }

  .project {
    width: 100%;
  }

  .flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 1.45rem;
    flex-direction: column;
}

  .active, .project:hover {
    color: var(--color-txt);
    text-decoration: underline;
  }

  .panel {
    width: auto;
    padding: 0.5rem 0rem 0rem 1.45rem;
  }

  .fontbloc {
    padding: 5rem 1.5rem 6rem 1.5rem;
  }

  .anim {
    height: 85vh;
  }

  .animcont {
    width: 100%;
  }

  .menu {
    display: flex;
    flex-direction: row;
    row-gap: 0.5rem;
    justify-content: flex-start;
  }

  .item-menu {
    flex-wrap: wrap;
    padding: 0;
  }

  .intro {
    padding: 5rem 1rem 2rem 1rem;
    width: 90%;
  }

  .description {
    width: 88%;
  }

  .miniature {
    max-height: 40px;
  }

  .container {
    width: 100%;
    padding: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1rem;
  }

  .imagehalf {
    padding: 50px 0px;
    width: 46%;
  }

  .imagefull {
    padding: 50px 0px;
    width: 100%;
  }

  .imageintro, .imageintroneg {
    padding: 10rem 0rem 8rem 0rem;
    width: 80%;
  }

  .dark-theme .imageneg {
    padding: 50px 0px;
    width: 100%;
  }

  .light-theme .imageneg {
    padding: 50px 0px;
    width: 100%;
    height: auto;
    filter: invert(1);
    mix-blend-mode: multiply;
  }

  .dark-theme .homeneg {
    padding: 0px 0px 50px 0px;
    width: 100%;
  }

  .light-theme .homeneg {
    padding: 0px 0px 50px 0px;
    width: 100%;
    height: auto;
    filter: invert(1);
    mix-blend-mode: multiply;
  }

  .video {
    padding: 50px 0px;
    width: 100%;
  }
}
