@charset "utf-8";

/* body and website */
body {
  font-family: Arial, "sans-serif";
  background-color: black;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Scrollbar */
html::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

html::-webkit-scrollbar-thumb {
  background: none;
}

/* Link */
a {
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #C4C4C4;
}

a.langue {
  color: white;
}

a.langue:link {
  text-decoration: none;
  color: white;
}

a.langue:hover {
  text-decoration: none;
  color: black;
}

a.langue:active {
  text-decoration: none;
  color: white;
}

a.site {
  color: white;
}

a.site:link {
  text-decoration: none;
  color: white;
}

a.site:hover {
  text-decoration: none;
  color: black;
}

a.site:active {
  text-decoration: none;
  color: white;
}

*::selection {
  color: white;
  background-color: #d9d9d9;
}


/* TEXT */
p {
  color: black;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin: 0;
}

.intro {
  color: #black;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  width: 60%;
  padding: 70px 0px 100px 0px;
}

.text {
  color: white;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  margin: 0;
  width: 60%;
  padding: 100px 0px 150px 0px;
}

/* Sticky menu & content */
.stickyWrapper {
  position: relative;
  float: left;
}

.stickyMainContainer {
  overflow-y: scroll;
  float: left;
  background: black;
  height: 100vh;
}

.stickyFix {
  position: absolute;
}

/* header */
.fixbar {
  position: fixed;
  right: 0;
  z-index: 100;
  background: #C4C4C4;
  padding: 6px 8px 8px 8px;
  font-size: 20px;
  font-weight: 500;
}

.stickyHeader {
  padding: 6px 0px;
}

.stickyHedBtm {
  float: left;
}

.stickyNavLink {
  background: #C4C4C4;
  margin: 0;
  padding: 6px 8px 8px 8px;
  font-size: 16px;
  font-weight: 500;
}

.stickyTabContainer {
  scroll-behavior: smooth;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

/* content */
.etoile {
  font-size: 120px;
  text-align: center;
  width: 100%;
  color: white;
  font-weight: 500;
  padding: 25px 0px 0px 0px;
}

.langue {
  color: #C4C4C4;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  margin: 0;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.imagefull {
  padding: 50px;
  width: 55%;
  height: auto;
}

.imagehalf {
  padding: 75px;
  width: 30%;
  height: auto;
}

.video {
  padding: 50px;
  width: 45%;
  height: auto;
}

.imagehomepage {
  left: 0;
  top: 0;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  width: 200px;
  height: 200px;
  transform: translateX(-50%) translateY(-50%);
}

.imagehomepage.visible {
  visibility: visible;
}

.apropos {
  position: relative;
  background: #C4C4C4;
  height: auto;
  padding: 10px 10px 20px 10px;
  margin: 0;
}

.cv {
  font-size: 26px;
  width: 95%;
}

.toggleDiv {
  display: none;
}

.pageerror {
  color: white;
  text-align: center;
  text-decoration: none;
}

a.pageerror {
  color: white;
}

a.pageerror:link {
  text-decoration: none;
  color: #C4C4C4;
}

a.pageerror:hover {
  text-decoration: none;
  color: black;
}

a.pageerror:active {
  text-decoration: none;
  color: #C4C4C4;
}

/* Overlay */
.overlay {
  height: auto;
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  padding-bottom: 50px;
}

.overlay-content {
  height: auto;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.overlay-block {
  width: 60%;
  height: auto;
  text-align: left;
  color: black;
  font-size: 25px;
  font-weight: 400;
}

.overlay .closebtn {
  position: absolute;
  right: 10px;
  font-size: 40px;
}

@media screen and (min-width:961px) and (max-width:1200px) {
  .stickyTabContainer {
    padding: 40px;
  }

  p {
    font-size: 15px;
    line-height: 20px;
  }

  .intro {
    font-size: 26px;
    line-height: 32px;
    width: 70%;
  }

  .text {
    font-size: 16px;
    line-height: 22px;
    width: 70%;
  }

  .imagefull {
    padding: 40px;
    width: 75%;
    height: auto;
  }

  .imagehalf {
    padding: 40px;
    width: 40%;
    height: auto;
  }

  .video {
    padding: 40px;
    width: 75%;
    height: auto;
  }

  .apropos {
    height: 100%;
    padding: 10px 10px 10px 10px;
    margin: 0;
  }
}

.overlay-block {
  padding: 10px;
  width: 85%;
  font-size: 22px;
}

@media screen and (min-width:601px) and (max-width:960px) {
  .fixbar {
    font-size: 16px;
  }

  .stickyHeader {
    padding: 4px 0px;
  }

  .stickyTabContainer {
    padding: 10px;
  }

  .stickyNavLink {
    padding: 6px 7px 6px 7px;
    font-size: 16px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
  }

  .intro {
    font-size: 20px;
    line-height: 26px;
    width: 80%;
  }

  .text {
    font-size: 16px;
    line-height: 22px;
    width: 80%;
  }

  .imagefull {
    padding: 35px 0px;
    width: 65%;
    height: auto;
  }

  .imagehalf {
    padding: 35px 0px;
    width: 40%;
    height: auto;
  }

  .video {
    padding: 35px 0px;
    width: 65%;
    height: auto;
  }

  .apropos {
    height: 100%;
    padding: 10px 10px 10px 10px;
    margin: 0;
  }
}

@media screen and (max-width:600px) {
  .fixbar {
    padding: 5px 7px 7px 7px;
    font-size: 15px;
  }

  .stickyHeader {
    padding: 0px 0px;
  }

  .stickyTabContainer {
    padding: 20px;
  }

  .stickyNavLink {
    padding: 5px 6px 5px 6px;
    font-size: 11px;
  }

  p {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.1px;
  }

  .intro {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    width: 100%;
    padding: 75px 0px 75px 0px;
  }

  .text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    width: 100%;
    padding: 100px 0px 100px 0px;
  }

  .etoile {
    padding: 50px 0px 0px 0px;
  }

  .imagefull {
    padding: 25px 0px;
    width: 100%;
  }

  .imagehalf {
    padding: 25px 0px;
    width: 45%;
  }

  .video {
    padding: 25px 0px;
    width: 100%;
  }

  .apropos {
    height: 100%;
    padding: 10px 10px 10px 10px;
    margin: 0;
  }

  .overlay-block {
    padding: 10px;
    font-size: 18px;
    width: 100%;
  }

  .overlay .closebtn {
    font-size: 30px;
    top: 7px;
    right: 15px;
  }
}
}
