@charset "utf-8";

/* body and website */
body {
  font-family: Arial, "sans-serif";
  background-color: black;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Scrollbar */
html::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

html::-webkit-scrollbar-thumb {
  background: none;
}

/* Link */
a {
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #A8A8A8;
}

a.langue {
  color: #A8A8A8;
}

a.langue:link {
  text-decoration: none;
  color: #A8A8A8;
}

a.langue:hover {
  text-decoration: none;
  color: black;
}

a.langue:active {
  text-decoration: none;
  color: #A8A8A8;
}

*::selection {
  color: #A8A8A8;
  background-color: black;
}

/* TEXT */
p {
  color: black;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin: 0;
}

.intro {
  background: #A8A8A8;
  color: #black;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  width: 60%;
  padding: 150px 0px 150px 0px;
}

.text {
  color: #A8A8A8;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  margin: 0;
  width: 60%;
  padding: 100px 0px 150px 0px;
}

/* Sticky menu & content */
.stickyWrapper {
  position: relative;
  float: left;
}

.stickyMainContainer {
  overflow-y: scroll;
  float: left;
  background: black;
  height: 100vh;
}

.stickyFix {
  position: absolute;
}

/* header */
.fixbar {
  position: fixed;
  right: 0;
  z-index: 100;
  background: #A8A8A8;
  padding: 6px 8px 8px 8px;
  font-size: 20px;
  font-weight: 500;
}

.stickyHeader {
  padding: 6px 0px;
}

.stickyHedBtm {
  float: left;
}

.stickyNavLink {
  background: #A8A8A8;
  margin: 0;
  padding: 6px 8px 8px 8px;
  font-size: 16px;
  font-weight: 500;
}

.stickyTabContainer {
  scroll-behavior: smooth;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

/* content */
.etoile {
  font-size: 160px;
  text-align: center;
  width: 100%;
  color: #A8A8A8;
  font-weight: 500;
  padding: 100px 0px 0px 0px;
}

.langue {
  color: #A8A8A8;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  margin: 0;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.imagefull {
  padding: 50px;
  width: 55%;
  height: auto;
}

.imagehalf {
  padding: 50px;
  width: 35%;
  height: auto;
}

.video {
  padding: 50px;
  width: 55%;
  height: auto;
}

.apropos {
  position: relative;
  background: #A8A8A8;
  height: 80%;
  padding: 10px;
  margin: 0;
}

.cv {
  width: 95%;
}

.toggleDiv {
  display: none;
}

@media screen and (min-width:961px) and (max-width:1200px) {
  .stickyTabContainer {
    padding: 40px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }

  .intro {
    font-size: 26px;
    line-height: 32px;
    width: 70%;
  }

  .text {
    font-size: 16px;
    line-height: 22px;
    width: 70%;
  }

  .imagefull {
    padding: 40px;
    width: 75%;
    height: auto;
  }

  .imagehalf {
    padding: 40px;
    width: 40%;
    height: auto;
  }

  .video {
    padding: 40px;
    width: 75%;
    height: auto;
  }
}

@media screen and (min-width:601px) and (max-width:960px) {
  .fixbar{
    font-size: 16px;
  }

    .stickyHeader {
      padding: 4px 0px;
    }

    .stickyTabContainer {
      padding: 10px;
    }

    .stickyNavLink {
      padding: 6px 7px 6px 7px;
      font-size: 16px;
    }

  p {
    font-size: 16px;
    line-height: 22px;
  }

  .intro {
    font-size: 20px;
    line-height: 26px;
    width: 80%;
  }

  .text {
    font-size: 16px;
    line-height: 22px;
    width: 80%;
  }

  .imagefull {
    padding: 35px 0px;
    width: 65%;
    height: auto;
  }

  .imagehalf {
    padding: 35px 0px;
    width: 40%;
    height: auto;
  }

  .video {
    padding: 35px 0px;
    width: 65%;
    height: auto;
  }
}

@media screen and (max-width:600px) {
.fixbar{
  font-size: 11px;
}

  .stickyHeader {
    padding: 0px 0px;
  }

  .stickyTabContainer {
    padding: 20px;
  }

  .stickyNavLink {
    padding: 5px 6px 5px 6px;
    font-size: 11px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }

  .intro {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    width: 100%;
    padding: 75px 0px 75px 0px;
  }

  .text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    width: 100%;
  }

  .imagefull {
    padding: 25px 0px;
    width: 100%;
  }

  .imagehalf {
    padding: 25px 0px;
    width: 45%;
  }

  .video {
    padding: 25px 0px;
    width: 100%;
  }

  .apropos {
    padding: 10px 10px 50px 10px;
    margin: 0;
  }

}
